<section class="product-view">
    <section class="product-images">
        <img class="product-image" src="{{image-url}}">
        {{#each large-images}}
        <img class="product-image" src="{{url}}">
        {{/each}}    
    </section>
    <section class="product-data">
        <h2 class="product-name">{{name}}</h2>
        <p class="product-price">{{{parsePrice sizes price}}}</p>
        <form class="product-form">
            {{#if sizes}}
            <label>Size</label>
            <select class="product-sizes">
                {{#each sizes}}
                <option value="{{price}}">{{size}}</option>
                {{/each}}
            </select>
            {{/if}}
            {{#if colours}}
            <label>Colours</label>
            <select class="product-colours">
                {{#each colours}}
                <option value="{{colour}}">{{colour}}</option>
                {{/each}}
            </select>
            {{/if}}
            <input class="product-count" type="number" min="1" value="1">
            <input class="product-add" type="submit" value="add to cart">
        </form>
    </section>
    <section class="product-desc">{{{description}}}</section>
</section>